[plugin]
enabled = true
config_version = "0.1.0"
# 教程视频：https://www.bilibili.com/video/BV1tqFPzCEfm/

[general]
tts_mode = "fixed"
default_backend = "easytts"
timeout = 60
max_text_length = 120
use_replyer_rewrite = false
audio_output_dir = ""
use_base64_audio = false
split_sentences = false
split_delay = 0
send_error_messages = true
send_text_along_with_voice = true
voice_translate_to = "ja"
force_text_language = "zh"
fixed_mode_infer_emotion = true
free_mode_infer_emotion = true

[components]
action_enabled = true
command_enabled = true

[easytts]
default_character = ""
default_preset = ""
auto_fetch_gradio_schema = true
schema_cache_ttl = 0
schema_cache_file = "_gradio_schema_cache.json"
remote_split_sentence = true
prefer_idle_endpoint = true
busy_queue_threshold = 0
status_timeout = 3
join_timeout = 30
sse_timeout = 120
download_timeout = 120
trust_env = false
character_1_name = ""
character_1_presets = ""
character_2_name = ""
character_2_presets = ""
character_3_name = ""
character_3_presets = ""
character_4_name = ""
character_4_presets = ""
character_5_name = ""
character_5_presets = ""
endpoint_1_name = "pool-1"
endpoint_1_base_url = ""
endpoint_1_studio_token = ""
endpoint_1_fn_index = 4
endpoint_1_trigger_id = 25
endpoint_2_name = "pool-2"
endpoint_2_base_url = ""
endpoint_2_studio_token = ""
endpoint_2_fn_index = 3
endpoint_2_trigger_id = 19
endpoint_3_name = "pool-3"
endpoint_3_base_url = ""
endpoint_3_studio_token = ""
endpoint_3_fn_index = 3
endpoint_3_trigger_id = 19
endpoint_4_name = "pool-4"
endpoint_4_base_url = ""
endpoint_4_studio_token = ""
endpoint_4_fn_index = 3
endpoint_4_trigger_id = 19
endpoint_5_name = "pool-5"
endpoint_5_base_url = ""
endpoint_5_studio_token = ""
endpoint_5_fn_index = 3
endpoint_5_trigger_id = 19
